.left2 {
  max-width: 60%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.right2 {
  max-width: 40%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.curriculum {
  background: url("../public/curriculum.svg");
  background-size: cover;
  height: 390px;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: unset;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.kmitlxglasgow {
  background: url("../public/kmitl_glasgow.svg");
  background-size: cover;
  height: 390px;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: unset;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.studyplan {
  background: url("../public/study_plan.svg");
  background-size: cover;
  height: 390px;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: unset;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.internship {
  background: url("../public/internship.svg");
  background-size: cover;
  height: 390px;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: unset;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.studyabroad {
  background: url("../public/study_abroad.svg");
  background-size: cover;
  height: 390px;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: unset;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.lecturer {
  background: url("../public/lecturer.svg");
  background-size: cover;
  height: 390px;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: unset;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
