.hero {
  background: url("../public/program_background.svg");
  background-size: cover;
  background-position: bottom;
  min-height: 480px;
}

.heading {
  display: flexbox;
  padding: 140px 100px;
}

.h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.p1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 42px;
  letter-spacing: 1px;
}

.letter {
  margin: 30px auto;
  height: 100%;
  padding: 0 var(--padding);
  width: 100%;
  max-width: 1920px;
  display: flex;
}

.h3 {
  padding-left: 10px;
}

.left1 {
  max-width: 40%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.right1 {
  max-width: 60%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left2 {
  max-width: 60%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.right2 {
  max-width: 40%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.row {
  margin: 0 auto;
  height: 100%;
  padding: 0 var(--padding);
  width: 100%;
  max-width: 1920px;
  display: flex;
}

.span {
  align-self: center;
  padding-left: 8px;
  white-space: nowrap;
}

.p {
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
}

.learnmore {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
  cursor: pointer;
}

.shortbox {
  background-color: rgb(0, 0, 0, 0.6);
  height: 88px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 0 20px 20px;
}

.longbox {
  height: 88px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 0 20px 20px;
}

.shortinfo {
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
}

.longinfo {
  padding: 8px 20px;
  justify-content: space-between;
}

.curriculum {
  background: url("../public/curriculum.svg");
  background-size: cover;
  height: 390px;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: unset;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
}

.kmitlxglasgow {
  background: url("../public/kmitl_glasgow.svg");
  background-size: cover;
  height: 390px;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: unset;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
}

.studyplan {
  background: url("../public/study_plan.svg");
  background-size: cover;
  height: 390px;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: unset;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
}

.internship {
  background: url("../public/internship.svg");
  background-size: cover;
  height: 390px;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: unset;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
}

.studyabroad {
  background: url("../public/study_abroad.svg");
  background-size: cover;
  height: 390px;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: unset;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
}

.lecturer {
  background: url("../public/lecturer.svg");
  background-size: cover;
  height: 390px;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: unset;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
}
